body {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 70px;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    background: #f9f9f9;
}

/* Text */
.hero-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero-name {
    font-size: 3rem;
    font-weight: bold;
}
.hero-name span {
    color: #f39c12;
}

.hero-role {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

/* Social Icons */
.social-links a {
    font-size: 22px;
    margin-right: 15px;
    color: #333;
    transition: 0.3s;
}
.social-links a:hover {
    color: #0d6efd;
}

/* Avatar */
.avatar-circle {
    width: 320px;
    height: 320px;
    background: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.avatar-circle img {
    width: 90%;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .avatar-circle {
        margin-top: 40px;
    }
}
